@charset "utf-8";
/* =============================================================
 module
============================================================= */

/* margin
------------------------------------------------------- */
/* margin top */
.mT_5{margin-top:5px !important;}
.mT_10{margin-top:10px !important;}
.mT_20sp10, .mT_20{margin-top:20px !important;}
.mT_30{margin-top:30px !important;}
.mT_40sp20, .mT_40{margin-top:40px !important;}
.mT_50{margin-top:50px !important;}
.mT_60{margin-top:60px !important;}
.mT_80, .mT_80sp40{margin-top:80px !important;}
/* margin right */
.mR_5{margin-right:5px !important;}
.mR_10{margin-right:10px !important;}
.mR_20{margin-right:20px !important;}
/* margin bottom */
.mB_5{margin-bottom:5px !important;}
.mB_10{margin-bottom:10px !important;}
.mB_20sp10, .mB_20 {margin-bottom:20px !important;}
.mB_30{margin-bottom:30px !important;}
.mB_40sp20, .mB_40{margin-bottom:40px !important;}
.mB_50{margin-bottom:50px !important;}
.mB_60{margin-bottom:60px !important;}
.mB_80,.mB_80sp40{margin-bottom:80px !important;}
.mB_120sp40{margin-bottom:120px !important;}
/* margin left */
.mL_5{margin-left: 5px !important;}
.mL_10{margin-left: 10px !important;}
.mL_20{margin-left: 20px !important;}

@media only screen and (max-width:640px){
.mT_20sp10{margin-top:10px !important;}
.mT_80sp40{margin-top:40px !important;}
.mB_20sp10{margin-bottom:10px !important;}
.mT_40sp20{margin-top:20px !important;}
.mB_40sp20{margin-bottom:20px !important;}
.mB_80sp40,.mB_120sp40{margin-bottom:40px !important;}
}

/* padding
------------------------------------------------------- */
/* padding top */
.pT_5 {padding-top: 5px !important;}
.pT_10 {padding-top: 10px !important;}
.pT_20 {padding-top: 20px !important;}
.pT_30 {padding-top: 30px !important;}
.pT_40 {padding-top: 40px !important;}
/* padding right */
.pR_5 {padding-right: 5px !important;}
.pR_10 {padding-right: 10px !important;}
.pR_20 {padding-right: 20px !important;}
.pR_30 {padding-right: 30px !important;}
/* padding bottom */
.pB_5 {padding-bottom: 5px !important;}
.pB_10 {padding-bottom: 10px !important;}
.pB_20 {padding-bottom: 20px !important;}
.pB_30 {padding-bottom: 30px !important;}
/* padding left */
.pL_5 {padding-left: 5px !important;}
.pL_10 {padding-left: 10px !important;}
.pL_20 {padding-left: 20px !important;}
.pL_30 {padding-left: 30px !important;}

.dIB{display:inline-block;}

.dB_pc,.dB{display:block !important;}
.dB_pc{ display:block !important;}
.dIB_pc{display:inline-block !important;}
.dIB_sp,.dB_sp{display:none !important;}

@media only screen and (max-width:640px){
.dB_sp{ display:block !important;}
.dB_pc,.dIB_pc{display:none !important;}
.dIB_sp{display:inline-block !important;}
}

/* wrap
------------------------------------------------------- */
.wrap10{padding:10px;}
.wrap20{padding:20px;}
.wrap20sp10{padding:20px;}
.wrapRL20sp10{padding:0 20px;}
.wrapRL10{padding:0 10px;}
.wrapRL20{padding:0 20px;}
.wrapTB20sp10,
.wrapTB20{padding:20px 0;}
@media only screen and (max-width:640px){
.wrap20sp10{padding:10px;}
.wrapRL20sp10{padding:0 10px;}
.wrapTB20sp10{padding:10px 0;}
}

/* text-align
------------------------------------------------------- */
.tACenter{text-align:center!important;}
.tARight{text-align:right!important;}
.tALeft{text-align:left!important;}
.tAJustify{text-align:justify;}

.tACspL{text-align:center;}
@media only screen and (max-width:640px){
.tAJustify,.tACspL{text-align:left;}
.tALspC{text-align:center;}
}

/* vertical-align
------------------------------------------------------- */
.vATop{vertical-align:top!important;}
.vAMid{vertical-align:middle!important;}
.vABtm{vertical-align:bottom!important;}

/* txt
------------------------------------------------------- */
.fWBold {font-weight:bold !important;}
.fWNormal{font-weight:normal !important;}
.fSize10{font-size:10px !important;}
.fSize12{font-size:12px !important;}
.fSize14{font-size:14px !important;}
.fSize18{font-size:18px !important;}
.fSize24,.fSize24sp16{font-size:24px !important;}
.fSize32sp18{font-size:32px !important;}
.fSize36{font-size:36px !important;}
.fSize46sp32{font-size:46px !important;}

@media only screen and (max-width:640px){
.fSize24sp16{font-size:16px !important;}
.fSize32sp18{font-size:18px !important;}
.fSize46sp32{font-size:32px !important;}
}

.fCGold_1{color:#d4a044 !important;}
.fCGold_2{color:#dcc948 !important;}
.fCOrange{color:#ff9000 !important;}
.fCRed{color:#f00 !important;}
.fCWhite{color:#fff !important;}
.fCYellow{color:#dcc948 !important;}

/* lightbox css
------------------------------------------------------- */
#imagelightbox{
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
}

/* ACTIVITY INDICATION */
#imagelightbox-loading{
    width:16px;
    height:16px;
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

#imagelightbox-loading div{
    -webkit-animation: imagelightbox-loading .5s ease infinite;
    animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading{
    from { opacity: .5;    -webkit-transform: scale( 1 ); }
    to     { opacity: .5;    -webkit-transform: scale( 1 ); }
}
@keyframes imagelightbox-loading{
    from { opacity: .5;    transform: scale( 1 ); }
    to     { opacity: .5;    transform: scale( 1 ); }
}

#imagelightbox-loading .loader{
    width: 32px;
    height: 32px;
    background: url(../images/loader.gif) no-repeat;
    background-size: 22px;
    opacity: .9;
}

/* OVERLAY */
#imagelightbox-overlay{
    background-color: #333;
    background-color: rgba( 0, 0, 0, .7 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* "CLOSE" BUTTON */
#imagelightbox-close{
    display:block;
    width:35px;
    height:35px;
    line-height:35px;
    position: fixed;
    border-radius:18px;
    border:none;
    background-color:#333;
    background-color:rgba(0,0,0,.5 );
    z-index: 10002;
    top:35px;
    right:35px;
    text-align:center;
    font-size:28px;
    color:#fff;
}

#imagelightbox-close:hover{cursor:pointer;}

/* CAPTION */
#imagelightbox-caption{
    position: fixed;
    padding:8px 10px;
    background-color:#333;
    z-index: 10001;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
}

/* ARROWS */
.imagelightbox-arrow{
    display: none;
    position: fixed;
    width:50px;
    height:100px;
    margin-top:-50px;
    border:none;
    border-radius:3px;
    background-color:#333;
    background-color:rgba(0,0,0,.5 );
    vertical-align: middle;
    z-index: 10001;
    top: 50%;
}

.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus{
    background-color:#000;
    background-color: rgba( 0, 0, 0, .75 );
}

.imagelightbox-arrow-left{left:40px;}
.imagelightbox-arrow-right{right:40px;}
.imagelightbox-arrow:before{
    width:0;
    height:0;
    border:1em solid transparent;
    content:'';
    display: inline-block;
    margin-bottom: -2px;
}
.imagelightbox-arrow-left:before{
    border-left: none;
    border-right-color: #fff;
    margin-left: -5px;
}
.imagelightbox-arrow-right:before{
    border-right: none;
    border-left-color: #fff;
    margin-right: -5px;
}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow{
    -webkit-animation: fade-in .25s linear;
    animation: fade-in .25s linear;
}
@-webkit-keyframes fade-in{
    from{opacity:0;}
    to{opacity: 1;}
}
@keyframes fade-in{
    from{opacity:0;}
    to{opacity:1;}
}

@media only screen and (max-width:640px){
    #container{width:100%;}

    #imagelightbox-close{
        top:10px;
        right:10px;
    }

    .imagelightbox-arrow{
        width:35px;
        height:60px;
        margin-top:-30px;
    }
    .imagelightbox-arrow-left{left:0;}
    .imagelightbox-arrow-right{right:0;}
}


/* button 
------------------------------------------------------- */
.cmnBtn_1{
    position: relative;
    display: inline-block;
    padding: 8px 20px 8px 10px;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease .3s;
    background-color: transparent;
}

.cmnBtn_1::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    width: 5px;
    height: 5px;
    margin-top: -4px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.cmnBtn_1:hover{
    border-color: #dcc948;
	text-decoration:none;
}

.cmnBtn_2{
    display: inline-block;
    padding: 15px 30px;
    color: #333;
    transition: all ease .3s;
    background-color: #dcc948;
    border-radius: 3px;
}

.cmnBtn_2:hover{
    filter: brightness(110%);
    color: #f00;
}

.entryBtn{
    display: inline-block;
    width: 500px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #b58d48 0%,#936f30 100%);
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.entryBtn.enable{
    color: #999;
    background:#555;
}

@media only screen and (max-width:640px){
.entryBtn{
    width: 100%;
    width: calc(100% - 20px);
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}
.entryBtn.enable{
    font-size:16px;
}
}


/* ttl
------------------------------------------------------- */
.cmnTtl_1{
    position: relative;
    line-height: 1;
    margin-bottom: 80px;
    padding-bottom: 25px;
    font-size: 60px;
    color: #dcc948;
    font-weight: normal;
    text-align: center;
}

.cmnTtl_1::after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 60px;
    transform: translateX(-50%);
    background-color: #dcc948;
}

.cmnTtl_2{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcc948;
    color: #dcc948;
    font-size: 24px;
}

@media only screen and (max-width:640px){
    .cmnTtl_1 {
        margin-bottom: 40px;
        padding-bottom: 15px;
        font-size: 24px;
    }

    .cmnTtl_1::after{ width: 40px;}
}

/* tbl
------------------------------------------------------- */
.cmnTbl{width:100%;}

.cmnTbl th,
.cmnTbl td{
    padding:15px 10px;
    word-break:break-all;
    vertical-align:middle;
    box-sizing:border-box;
}

.cmnTbl th{
    width:220px;
    text-align:left;
    vertical-align:middle;
}

.cmnTbl td{
    box-sizing:border-box;
}

.cmnTbl tr:first-child td:before{content:none;}



@media only screen and (max-width:640px){
    .cmnTbl th{
        width:100px;
    }

    .cmnTbl th,
    .cmnTbl td{
        padding:12px;
    }

    .cmnTbl.row th,
    .cmnTbl.row td{
        display:block;
        width:100%;
        box-sizing:border-box;
        border-bottom:none;
    }
    
    .cmnTbl.row td{
        padding-top: 0;
        border-left:none;
    }

}

.requiredIcon{
    display:inline-block;
    margin-left:10px;
    padding:1px 5px;
    background:#f00;
    color:#fff;
    font-size:10px;
    font-weight:normal;
}

/* clm
------------------------------------------------------- */
.twoClm:after{
    content:"";
    display:block;
    clear:both;
    height:0;
}

.twoClm .clm{float: left;}

.twoClm.reverse .clm{float: right;}

.twoClm .clm{
    width: 500px;
    margin-left: 140px;
}

.twoClm.reverse .clm:last-child,
.twoClm .clm:first-child{margin-left:0;}
.twoClm.reverse .clm:first-child{margin-left:140px;}



@media only screen and (max-width:640px){
    .twoClm .clm{width: 100%;}
    .twoClm .clm:first-child{
        margin: 0 0 20px
    }

    .twoClm .clm:last-child{margin: 0;}

}

/* common
------------------------------------------------------- */

.indentLst li{
    padding-left: 1em;
    text-indent: -1em;
}

.opaBtn:hover {
    opacity:0.9;
    filter: alpha(opacity=90);
    -ms-filter: "alpha( opacity=90 )";
    -moz-opacity:0.90;
}

.w100{width: 100%;}
.h100{height: 100px;}

.lH_12{line-height: 1.2;}

.pcBrNone br{display:none;}

@media only screen and (max-width:640px){
.pcBrNone br{display:block;}
.spBrNone br{display:none;}
.spW100{width: 100%;}
}

/*フォームプラグインが自動でつけるクラス用*/
.wpcf7-validation-errors{
	border: 1px solid #f35459;
    color: #f35459;
    font-weight: bold;
    padding: 3px 5px
}

.wpcf7c-conf:focus,
.wpcf7c-conf{
	padding:0 !important;
	background-color:#fcf9f2 !important;
	box-shadow:none !important;
	border:none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.wpcf7c-conf:hover{cursor:default !important;}

.purpose input.wpcf7c-conf[disabled="disabled"]{display:none;}

.purpose .checked{
	background-color:#fff;
	border-color:#f47577 !important;
}

[role="alert"]{color:#f00;}


/* lightbox css
------------------------------------------------------- */
#wrapGird{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:transparent;
    z-index: 10001;
}

#imagelightbox{
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
}

/* ACTIVITY INDICATION */
#imagelightbox-loading{
    width:16px;
    height:16px;
    position: fixed;
    z-index: 10003;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    z-index: 10000;
}

#imagelightbox-loading div{
    -webkit-animation: imagelightbox-loading .5s ease infinite;
    animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading{
    from { opacity: .5; -webkit-transform: scale( 1 ); }
    to   { opacity: .5; -webkit-transform: scale( 1 ); }
}
@keyframes imagelightbox-loading{
    from { opacity: .5; transform: scale( 1 ); }
    to   { opacity: .5; transform: scale( 1 ); }
}


#imagelightbox-loading .loader{
    width: 32px;
    height: 32px;
    background: url(../../images/common/loader.gif) no-repeat;
    background-size: 22px;
    opacity: .9;
}

/* OVERLAY */
#imagelightbox-overlay{
    background-color: #333;
    background-color: rgba( 0, 0, 0, .7 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* "CLOSE" BUTTON */
#imagelightbox-close{
    display:block;
    width:35px;
    height:35px;
    line-height:35px;
    position: fixed;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:none;
    background-color:#333;
    background-color:rgba(0,0,0,.5 );
    z-index: 10002;
    top:35px;
    right:35px;
    text-align:center;
    font-size:28px;
    color:#fff;
}

#imagelightbox-close:hover{cursor:pointer;}

/* CAPTION */
#imagelightbox-caption{
    position: fixed;
    padding:8px 10px;
    background-color:#333;
    z-index: 10001;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
}

/* ARROWS */
.imagelightbox-arrow{
    display: none;
    position: fixed;
    width:50px;
    height:100px;
    margin-top:-50px;
    border:none;
    -webkit-border-radius:3px;
    border-radius:3px;
    background-color:#333;
    background-color:rgba(0,0,0,.5 );
    vertical-align: middle;
    z-index: 10001;
    top: 50%;
}

.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus{
    background-color:#000;
    background-color: rgba( 0, 0, 0, .75 );
}

.imagelightbox-arrow-left{left:40px;}
.imagelightbox-arrow-right{right:40px;}
.imagelightbox-arrow:before{
    width:0;
    height:0;
    border:1em solid transparent;
    content:'';
    display: inline-block;
    margin-bottom: -2px;
}
.imagelightbox-arrow-left:before{
    border-left: none;
    border-right-color: #fff;
    margin-left: -5px;
}
.imagelightbox-arrow-right:before{
    border-right: none;
    border-left-color: #fff;
    margin-right: -5px;
}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow{
    -webkit-animation: fade-in .25s linear;
    animation: fade-in .25s linear;
}
@-webkit-keyframes fade-in{
    from{opacity:0;}
    to{opacity: 1;}
}
@keyframes fade-in{
    from{opacity:0;}
    to{opacity:1;}
}

@media only screen and (max-width:640px){

    #imagelightbox-close{
        top:10px;
        right:10px;
    }

    .imagelightbox-arrow{
        width:35px;
        height:60px;
        margin-top:-30px;
    }
    .imagelightbox-arrow-left{left:0;}
    .imagelightbox-arrow-right{right:0;}
}


/* fadein
------------------------------------------------------- */
/*.sa {
  opacity: 0;
  transition: transform 1s ease-out , opacity 1s ease-out;
}
 
.sa.show {
  opacity: 1;
  transform: none;
}
 
.sa--lr { transform: translate(-50px, 0);}
.sa--rl { transform: translate(50px, 0);}
.sa--up { transform: translate(0, 50px);}
.sa--down { transform: translate(0, -50px);}
.sa--scaleUp { transform: scale(.5);}
.sa--scaleDown { transform: scale(1.1);}
.sa--rotateL { transform: rotate(180deg);}
.sa--rotateR { transform: rotate(-180deg);}*/

/* clear fix
------------------------------------------------------- */
.clear:after{
    content:"";
    display:block;
    clear:both;
    height:0;
}

/* EOF */
